<p>user-page works!</p>
<mat-card *ngIf="userInfo" class="user-info-container">
  <mat-card-content>
    <h2>Welcome, {{ userInfo['nombre del perfil'] }}!</h2>
    <p>Email: {{ userInfo.correo }}</p>
    <p>Name: {{ userInfo.nombre }}</p>

    <button mat-button color="primary" (click)="logout()" class="logout-button">Logout</button>

  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Canciones gustadas</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let track of tracks">
      <div>
        <h2>{{ track.title }}</h2>
      </div>
    </div>
  </mat-card-content>
</mat-card>


